body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}